/**************************************************** custom default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  list-style: none;
  color: #000;
}

body {
  cursor: default;
  font-family: Verdana, Tahoma, sans-serif;
}

/**************************************************** title card */
.title-card-border {
  border: solid 0.2rem #1e90ff;
  border-radius: 3rem;
  margin: 7rem auto;
  width: 19rem;
  height: 29rem;
}

@media (min-width: 600px) {
  .title-card-border {
    width: 35rem;
    height: 27.5rem;
    margin: 9rem auto;
  }
}

@media (min-width: 900px) {
  .title-card-border {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 1rem;
    margin: 7rem auto;
    width: 55rem;
    height: 30.42rem;
  }
}

/**************************************************** image */
.image-container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.image-container img {
  width: 18.6rem;
  height: 15rem;
  border-radius: 2.7rem 2.7rem 0 0;
}

@media (min-width: 600px) {
  .image-container img {
    width: 34.6rem;
  }
}

@media (min-width: 900px) {
  .image-container img {
    width: 27rem;
    height: 30rem;
    border-radius: 0 2.7rem 2.7rem 0;
  }
}

/**************************************************** text */
.text-border {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  margin-top: 2rem;
}

.text-border h1 {
  font-size: 2rem;
  grid-column: 1 / 3;
}

.text-border p {
  font-size: 1.5rem;
  grid-column: 1 / 3;
}

.text-border button {
  background-color: #c0c0c0;
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 900px) {
  .text-border {
    margin: 11rem 1rem 0 0.4rem;
    line-height: 2;
  }

  .text-border h1 {
    font-size: 2.5rem;
  }

  .text-border p {
    font-size: 2rem;
    line-height: 1.5;
  }

  .text-border button {
    margin: 1rem 0 0;
    padding: 1.5rem 3.5rem;
  }
}
